@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
*{
    margin:0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: rgb(6, 23, 24);
    color: #f6f6f6;
    background-image: url(../assets/codecode.jpg);
    background-blend-mode: multiply;
}
.cabecalho {
    padding: 2% 0 0 15%;

}
.cabecalho__menu {
     display:flex;
     gap:80px;

}
.cabecalho__menu__link {
    font-family:'Montserrat', sans-serif;
    font-weight:600px;
    font-size:24px;
    color:#0AFF8C;
    text-decoration:none;
}
.apresentacao {
    padding: 3% 22%;
    padding-bottom: 12%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    
}
.apresentacao__conteudo {
    width:615px;
    gap:40px;
    display: flex;
    flex-direction: column ;
}
.apresentacao__titulo {
    font-size: 36px;
    font-family:'Krona One', sans-serif;
    text-shadow: 0 0 20px ;
}
.apresentacao__paragrafo {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
.apresentacao__paragrafo__destaque {
    color:#0aff8c;
    text-shadow: 0 0 7px#0aff8c ;
}
}
.apresentacao__conteudo__cursos {
    font-family:'Krona One', sans-serif;
    font-size:36px;
    font-weight:400;
    text-shadow: 0 0 20px

}
.apresentacao__conteudo__cursos__links { 
    font-family:'Montserrat', sans-serif;
    font-weight:600px;
    font-size:18px;
    color:#f6f6f6;
    text-decoration:none;
}
.rodape {
    color: #000000;
    background-color:#0AFF8C;
    padding:24px;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-size: 24px; 

}